body {
    color: white;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/09/96/485816a69319e91.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%; 
	background-size: 100%;

}

#banner {
  height: 150px;
  padding-top: 10px;
}

#mainForm {
  padding-top: 50px;
  font-weight: 950;
}

label {
  font-weight: bolder;
}

@media only screen and (max-width: 640px) {
  

#banner{
    height: 200px;
  }
}

td, th {
    background: #101010;
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}




